* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #00303f;
    --dblue: #01627B;
    --lblue: #6A99A5;
    --red: #D15362ff;
    --grey:#bcbdbd;
    --keys3: #e1c596;
    --primary: 'Oswald', sans-serif;
    --secondary: 'Merriweather', serif;
}

header, footer.page-footer {
    background-color: var(--lblue);
    color: var(--dark);
    font-family: var(--primary);
    padding: 5px;
}

main {
    font-family: var(--secondary);
    color: var(--dark);
}

h1.m {
    margin: 0;
    padding: 0 0 0 46px;
}

h1.tally {
    margin: 10px;
    letter-spacing: 15px;
}

h1.x {
    margin: 0;
    padding: 0 0 5px 52px;
}

.results-list {
    font-family: var(--secondary);
    color: var(--dark);
}

li.col {
    margin: 0;
    padding: 0;
}

.collapsible-header:hover {
    color: var(--red);
    background-color: var(--grey);
}

.collapsible-header.active {
    background-color: var(--lblue);
    color: white;
    font-weight: bold;
}

div.collapsible-body {
    padding: 10px;
}

div.col.valign-wrapper {
    padding: 0;
}

.subtitle {
    font-family: var(--primary);
    color: var(--dark);
    padding: 10px;
}

button.waves-effect.searchbtn {
    background-color: var(--dblue);
    font-family: var(--primary);
    color: white;
    padding: 12px;
    margin: 3px
}

.btn-floating.waves-effect.waves-light {
    background-color: var(--red);
}

img#audio-icon {
    width: 32px;
    padding: 4px 0 0 4px;
}


img#mwlogo {
    width: 100px;
}

a#mwtext,
a#ptext {
    color: var(--dark);
    font-family: var(--secondary);
}

a#mwtext:hover {
    color: var(--red);
}

#container {
    display: flex;
    flex-wrap: wrap;
    /* margin: 50px 0 0 325px; */
    width: 100%;
}

.space {
    border: dotted;
    border-color: var(--dark);
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

.letter {
    /* background: var(--keys3); */
    width: 100%;
    height: 100%;
    border: solid black;
    border-radius: 10px;
}
.container-1 .col.s1 {
    width: 75px;
}
.tiles {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
    height: 90px;
}

.dropZone {
    background: lightgray;
}
.one {
    background-image: url("images/scrabble1.jpg"); 
}
.dragging {
    border: solid 8px;
    border-color: var(--dark);
}
.gray {
    filter: grayscale(100%);
}
.dropped {
    border: dotted 3px var(--dark);
    width: 681px;
    height: 96px;
}
.drop {
    border: none;
}
.todo {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: none;/*/100px; /* Location of the box */
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    width: 90%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: lightgrey; /* Fallback color */
    background-color: white; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 4px solid var(--lblue);
    width: 80%;
    box-shadow: 0 4px 8px 0 var(--dark), 0 6px 20px 0 var(--dark);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

img#img-icon {
    width: 32px;
    padding: 4px 0 0 4px;
    color: var(--lblue);
    background-color: var(--lblue);
}

.btn-floating.waves-effect.waves-light.img {
    background-color: var(--lblue);
}
  
  /* Add Animation */
   @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  } 
  
  @keyframes animatetop {
    from {top:-300px; opacity:3}
    to {top:0; opacity:1}
  } 
  
  /* The Close Button */
  .close {
    color: var(--lblue);
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: black;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0.5px 2px;
    background-color: lightgrey;
    color: black;
  }
  
  .modal-body {padding: 80px 80px;}
  
  .modal-footer {
    padding: 0.05px 1px;
    background-color: var(--dark);
  }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS */
@media screen and (max-width: 768px) {
 
}

/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 575px) {
  
}
