:root {
    --dark: #00303f;
    --lgrey:#bcbdbd;
    --pink: #f5b4be;
    --dblue: #01627B;
    --lblue: #6A99A5;
    --keys3: #e1c596;
    --keys1: #eabe76;
    --keys2: #e1b268;
    --primary: 'Oswald', sans-serif;
    --secondary: 'Merriweather', serif;
}

header {
    background-color: var(--dblue);
    color: var(--keys3);
}

h1.m {
    margin: 0;
    padding: 0 0 0 42px;
}

h1.tally {
    margin: 0;
    letter-spacing: 15px;
}

h1.x {
    margin: 0;
    padding: 0 0 0 48px;
}
