* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #00303f;
    --dblue: #01627B;
    --lblue: #6A99A5;
    --red: #D15362ff;
    --grey:#bcbdbd;
    --keys3: #e1c596;
    --primary: 'Oswald', sans-serif;
    --secondary: 'Merriweather', serif;
}

header, footer.page-footer {
    background-color: var(--lblue);
    color: var(--dark);
    font-family: var(--primary);
    padding: 5px;
}

div.row.header {
    margin: 0;
}

h6.headline.center-align {
    font-family: var(--secondary);
    font-size: 1.5rem;
    margin: 170px auto auto auto
}

main {
    font-family: var(--secondary);
    color: var(--dark);
}

div#tmax {
    font-size: 3rem;
}

h1.m {
    margin: 0;
    padding: 0 0 0 46px;
}

h1.tally {
    margin: 10px;
    letter-spacing: 15px;
}

h1.x {
    margin: 0;
    padding: 0 0 5px 52px;
}

.results-list {
    font-family: var(--secondary);
    color: var(--dark);
}

li.col {
    margin: 0;
    padding: 0;
}

.collapsible-header:hover {
    color: white;
    background-color: var(--dblue);
}

.collapsible-header.active {
    background-color: var(--lblue);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.collapsible-header.active:hover {
    color: var(--red);
}

div.collapsible-body {
    padding: 10px;
}

div.collapsible-body p {
    padding: 5px;
}

div.col.valign-wrapper {
    padding: 0;
}

.subtitle {
    font-family: var(--primary);
    color: var(--dark);
    padding: 10px;
}

button.waves-effect.searchbtn {
    background-color: var(--dblue);
    font-family: var(--primary);
    color: white;
    padding: 12px;
    margin: 3px
}

button.waves-effect.searchbtn:hover {
    background-color: var(--red);
}

button#resetBtn {
    background-color: var(--red);
}

button#resetBtn:hover {
    background-color: var(--lblue);
    color: var(--red);
}

.btn-floating.waves-effect.waves-light {
    background-color: var(--red);
}

img#audio-icon {
}

a.btn-floating.waves-effect.waves-light:hover {
    background-color: var(--lblue);
}

img#mwlogo {
    width: 100px;
}

img#imgBtn {
    width: 32px;
    padding: 4px 0 0 4px;
}

a#mwtext {
    color: var(--dark);
    font-family: var(--secondary);
}

a#mwtext:hover {
    color: var(--red);
}

.container {
    width: 100%;
}

.space {
    border: dotted;
    border-color: var(--dark);
    margin-left: 0;
}

#keyboard {
    margin-left: 0;
    padding: 20px;
    list-style: none;
}

.tiles { 
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 130px;
    margin: 0 5px 0 5px;
    min-width: 130px;
} 
.dropped {
    border: dotted 3px var(--dark);
    height: 130px;
    width: 100%;
    margin: 0 0 0 10px;
}
.drop {
    border: none;
}
.todo {
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
.instructions {
    font-size: 18px;
}
.dropZone {
    background: lightgray;
}
#a {
    background-image: url("../images/A.svg");
    background-size: cover;
} 
#b {
    background-image: url("../images/B.svg");
    background-size: cover;
}
#c {
    background-image: url("../images/C.svg");
    background-size: cover;
} 
#d {
    background-image: url("../images/D.svg");
    background-size: cover;
}
#e {
    background-image: url("../images/E.svg");
    background-size: cover;
}
#f {
    background-image: url("../images/F.svg");
    background-size: cover;
}
#g {
    background-image: url("../images/G.svg");
    background-size: cover;
}
#h {
    background-image: url("../images/H.svg");
    background-size: cover;
}
#i {
    background-image: url("../images/I.svg");
    background-size: cover;
}
#j {
    background-image: url("../images/J.svg");
    background-size: cover;
}
#k {
    background-image: url("../images/K.svg");
    background-size: cover;
}
#l {
    background-image: url("../images/L.svg");
    background-size: cover;
}
#m {
    background-image: url("../images/M.svg");
    background-size: cover;
}
#n {
    background-image: url("../images/N.svg");
    background-size: cover;
}
#o {
    background-image: url("../images/O.svg");
    background-size: cover;
}
#p {
    background-image: url("../images/P.svg");
    background-size: cover;
}
#q {
    background-image: url("../images/Q.svg");
    background-size: cover;
}
#r {
    background-image: url("../images/R.svg");
    background-size: cover;
}
#s {
    background-image: url("../images/S.svg");
    background-size: cover;
}
#t {
    background-image: url("../images/T.svg");
    background-size: cover;
}
#u {
    background-image: url("../images/U.svg");
    background-size: cover;
}
#v {
    background-image: url("../images/V.svg");
    background-size: cover;
}
#w {
    background-image: url("../images/W.svg");
    background-size: cover;
}
#x {
    background-image: url("../images/X.svg");
    background-size: cover;
}
#y {
    background-image: url("../images/Y.svg");
    background-size: cover;
}
#z {
    background-image: url("../images/Z.svg");
    background-size: cover;
}
.dragging {
    border: solid 5px;
    border-color: var(--dark);
}
.gray {
    filter: grayscale(100%);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: lightgrey; /* Fallback color */
    background-color: white; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 3px solid var(--lblue);
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: var(--lblue);
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: black;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0.5px 2px;
    background-color: lightgrey;
    color: black;
  }
  
  .modal-body {padding: 80px 80px;}
  
  .modal-footer {
    padding: 0.05px 1px;
    background-color: lightgrey;
  }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
    .tiles {
        min-height: 80px;
        min-width: 80px;
        border-radius: 10px;
    } 
    .dropped { 
        height: 80px;
    }
}

/* MEDIA QUERY FOR TABLETS */
@media screen and (max-width: 768px) {
    
    h6.headline.center-align {
        margin: 150px auto 0 auto;
    }

    .tiles {
        min-height: 60px;
        min-width: 60px;
        border-radius: 0px;
    } 
    .row {
        margin-bottom: 15px;
    }
    .dropped { 
        height: 60px;
    } 
}

/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 600px) {
    
    h6.headline.center-align {
        margin: 10px auto;
    }

    .tiles {
        min-height: 47px;
        min-width: 47px;
        border-radius: 0px;
        margin: 0 5px 0 5px;
    }
    .row {
        margin-bottom: 10px;
    }
    .dropped {
        height: 47px;
    }
}

/* MEDIA QUERY FOR SMALL PHONES */
@media screen and (max-width: 360px) {
   
    h6.headline.center-align {
        margin: 5px;
        font-size: 1.3rem;
    }

    .tiles {
        min-height: 27px;
        min-width: 27px;
        border-radius: 0px;
        margin: 0 7px 0 7px;
    }
    .row {
        margin-bottom: 5px;
    }
    .dropped {
        height: 27px;
    }
} 
